<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnLeggTilFor').click(function () {
                var ny = $('#nyFor').val();

                $.ajax({
                    url: '@Url.Action("LeggTilFor","Attributt")',
                    data: JSON.stringify({ navn: ny }),
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        if (data != null) {
                            $('#nyFor').val("");
                            $('#errorFor').text("");
                            var ny = "<tr><td>" + data.navn + "</td>";
                            ny += "<td><a href='#' class='btn btn-default'>Rediger</a> | <a href='#' class='btn btn-danger'>Slett</a></td></tr>";
                            $('#grupper').append(ny);
                        }
                        else {
                            $('#errorFor').text("Noe gikk galt!");
                        }
                    },
                    error: function (data) {
                        $('#errorFor').text("Noe gikk galt!");
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div> 
        <h2 class="text-center">
            Attributter
        </h2>
        <hr />
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Merker</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        @Html.Action("ListeMerker", "Attributt")
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Gruppetilhørighet</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        @Html.Action("ListeFor", "Attributt")
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Kategorier</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        @Html.Action("ListeKategorier", "Attributt")
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
