@model List<Nettbutikk.Model.Kategori>


<table id="kategorier" class="table">
    <tr>
        <th class="col-md-4">
            @Html.DisplayNameFor(model => Model[0].navn)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-4">
                @Html.DisplayFor(modelItem => item.navn)
            </td>
            <td>
                @Html.ActionLink("Rediger", "Edit", new { id = item.kategoriId }, new { @class = "btn btn-default" }) |
                @Html.ActionLink("Slett", "Delete", new { id = item.kategoriId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
<table class="table">
    <tr>
        <td class="col-md-4">
            <input id="nyKategori" class="form-control" type="text" placeholder="Legg til en ny kategori" />
        </td>
        <td>
            <button id="btnLeggTilKategori" class="btn btn-success">Legg til</button>
            <label id="errorKategori" class="text-danger"></label>
        </td>
    </tr>
</table>
