@model IEnumerable<Nettbutikk.Model.ForHvem>


<table id="grupper" class="table">
    <tr>
        <th class="col-md-4">
            @Html.DisplayNameFor(model => model.navn)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-4">
                @Html.DisplayFor(modelItem => item.navn)
            </td>
            <td>
                @Html.ActionLink("Rediger", "Edit", new { id = item.forId }, new { @class = "btn btn-default" }) |
                @Html.ActionLink("Slett", "Delete", new { id = item.forId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
<table class="table">
    <tr>
        <td class="col-md-4">
            <input id="nyFor" class="form-control" type="text" placeholder="Legg til en ny gruppe" />
        </td>
        <td>
            <button id="btnLeggTilFor" class="btn btn-success">Legg til</button>
            <label id="errorFor" class="text-danger"></label>
        </td>
    </tr>
</table>