@model IEnumerable<Nettbutikk.Model.ForHvem>


<table id="grupper" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.navn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.navn)
        </td>
        <td>
            @Html.ActionLink("Rediger", "Edit", new { id=item.forId  }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Slett", "Delete", new { id = item.forId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
</table>
<p>
    <input id="nyFor" type="text" placeholder="Legg til en ny gruppe"/> 
    <button id="btnLeggTilFor" class="btn btn-success" >Legg til</button>
    <label id="errorFor" class="text-danger"></label>
</p>
