<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2 class="text-center">
            Kunder
        </h2>
        <p class="text-center">Her kan man se alle kunder</p>
        <hr />
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Kunder</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        @Html.Action("KundeListe", "KundeAdmin")
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
