@model List<Model.Nettbutikk.ForHvem>

<ul class="nav navbar-nav">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
        <li class="dropdown" >
            <a class="dropdown-toggle" data-toggle="dropdown" href=""><div onclick="klikketForHvem(@item.forId)">@item.navn <span class="caret"></span></div></a>
            @{Html.RenderAction("vareNavKategorier", "Sko", new { forHvem = item.forId });}
        </li>
        }
    }
</ul>
