<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Skobutikken</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top clearfix" style="margin-bottom: 40px">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Skobutikken", "Hjem", "Nettbutikk", new { tom = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar navbar-nav">
                    <li></li>
                    <li></li>
                    <li></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Handlevogn</a></li>
                    @if (ViewBag.Innlogget != null && ViewBag.Innlogget)
                    {
                        <li><a href="Kunde/InfoKunde"><span class="glyphicon glyphicon-user"></span>@ViewBag.Kundenavn</a></li>
                    }
                    else
                    {
                        <li><a href="Kunde/RegistrerKunde"><span class="glyphicon glyphicon-user"></span> Registrer deg</a></li>
                    }
                    @if (ViewBag.Innlogget != null && ViewBag.Innlogget)
                    {
                        <li><a href="Kunde/LoggUtKunde"><span class="glyphicon glyphicon-log-out"></span> Logg av</a></li>
                    }
                    else
                    {
                        <li><a href="Kunde/LoggInnKunde"><span class="glyphicon glyphicon-log-in"></span> Logg på</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <footer>
            <hr />
            <p>&copy;Mappeoppgave i Webaplikasjoner for Adrian Westlund og Hallbjørn Storruste</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
