@model IEnumerable<Nettbutikk.Models.Ordrer>
@{
    Layout = null;
}
<table class="table">
    <tr>
        <th>
            Ordrenummer
        </th>
        <th>
            Dato
        </th>
        <th>
            Beløp
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="#" data-ordreId="@Html.DisplayFor(modelItem => item.OrdreId)">@Html.DisplayFor(modelItem => item.OrdreId)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdreDato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalBelop)
                </td>
                <td>
                    <button type="button" class="detaljer btn btn-default">Detaljer</button>
                </td>
            </tr>
        }
    }

</table>
<a id="modalTrigger" data-toggle="modal" data-target="#detaljModal"></a>
<!-- Modal -->
<div class="modal fade col-md-12" id="detaljModal" role="dialog">
    
</div>
