@model List<Nettbutikk.Models.Skoen>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hjem</title>
</head>
<body>
    <div> 
        <div class="panel-group col-md-12">
            <!-- Legger inn listePartials med sko. -->
            <div>
                @foreach (var sko in Model)
                { 
                    <div class="col-md-3" style="padding:0px">
                            @Html.Partial("ListePartial", sko)
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
