@model Nettbutikk.Model.Kategori

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Skobutikken</title>
</head>
<body>
    <div class="container">
        <h2 class="text-center">
            @ViewData["ForHvem"]
        </h2>
        <hr />
        <h3 class="text-center">
            @Model.navn
        </h3>
        <hr />
        @{Html.RenderAction("KategoriPartial", "Nettbutikk", new { forHvemId = ViewData["ForHvemId"], kategoriId = Model.kategoriId });}
    </div>
</body>
</html>

