@model Model.Nettbutikk.Skoen


<div class="panel panel-default text-center col-md-12">
    <a href="@Url.Action("Detaljer","Sko", new { skoId = Model.skoId })">
        <div class="panel-body col-md-12 clearfix">
            <img src="@Html.DisplayFor(modelItem => Model.bilder[0].bildeUrl)" />
            <div class="col-md-12 ">
                @Html.DisplayFor(modelItem => Model.navn)
            </div>
            <!--<div class="col-md-12">
            //foreach (var storlek in Model.storlekar)
            {
                //Html.DisplayFor(modelItem => storlek.Storlek)
                <span>&nbsp;</span>
            }
            </div>-->
        </div>
    </a>
</div>


